{% extends 'usermanager/base.html' %}

{% block content %}

        <div style="background-color:black;color:white; text-align:center;padding:1px;">
            <p><h2> Join Today </h2></p>
        </div>


        <div class="jumbotron">
              <h1 class="display-4">Heartily Welcome To Humsafar99!</h1>
              <p class="lead">Our Best Wishes To You.</p>
              <hr class="my-4">
              <p>You can start register yourself for free!</p>
             <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register Now</a>
        </div>

        <div class="container">
             <p>
                The reason behind starting this company (Humsafar99.com) is to provide the appropriate services to all who have reached here!!
                In the Hindu religion, Mariages are considered as the sacred relationship between the two for the whole life and to maintain & presereve the dignity of this holy relationship throughout the life.
                Everybody wills to get a life partner as they have dreamnt them to be!
                Basically, the task of finding a perfect life partner is done by the family members and specifically the elders of the family. But, Sometimes after the wedding become some year older, issues starts raising like standing nails in the smooth way and because of which the relationship comes to an end. And this is not called a happy ending My Friend!,in which the feelings of two families gets broken down and spreads all around like sorrowing Confetti. And its not that simple to find a perfect partner for yourelf, And through this platform we will be trying to make this a responsible task conviniently easy for you all.
         </p>
        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS" crossorigin="anonymous"></script>
        <style>
            a{
                padding: 10px ;
                margin: 2px;
                
            }
            .fut{
                margin: 15px;
                color:rgb(56, 162, 233)
            }
        </style>
        <div class="fut"><p><b>Follow us on</b></p></div>
        <div class="centerdiv">
            
            <a href="https://www.instagram.com/hamsafar_99_matrimonial/" >
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Hamsafar99-104014918258027" >
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/HumsafarMatrim1">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        

       
        
     



{% endblock %}
